.eslint.config.js
.gitignore
node_modules
.github
.git
test
.mocharc.json
# nyc test coverage
.nyc_output
.nycrc.json
coverage
docs
.husky
CODE_OF_CONDUCT.md

# Exclude these files, but not the dist folder
# Ignore TS build info and logs, but NOT the output of the build.
*.tsbuildinfo
*.log
# Include the dist folder
!dist
