:root {
  --vp-c-brand-1: #087f74;
  --vp-c-brand-2: #0b9488;
  --vp-c-brand-3: #087f74;
  --vp-c-brand-soft: rgba(8, 127, 116, 0.12);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(110deg, #087f74 10%, #3368bd 90%);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #7dddc5 30%, #8cbbef 70%);
  --vp-home-hero-image-filter: blur(70px);
}
.dark {
  --vp-c-brand-1: #67d6c3;
  --vp-c-brand-2: #9de6d8;
  --vp-c-brand-3: #087f74;
}
.VPHome .VPFeature { border-radius: 16px; }
.VPHome .VPHero .image-src { max-width: 250px; max-height: 250px; }
